 <% content_for :title, "Top bartenders in #{@party.city}" %>
<div class="index-background">
  <div class="container">
    <div class="row">
      <%= render 'search_form_index' %>
    </div>

    <div class="row">
      <% @bartenders.each_with_index do |bartender, i| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card-container">
            <%= link_to bartender_path(bartender, party: params[:party]), class: 'card' do %>
              <div class="card-body">
                <div class="card-image" style="background-image: url(<%= image_path (bartender.picture) %>);"></div>
                <div class="card-back">
                   <%= bartender.title %>
                  <% bartender.cocktails.each do |cocktail|  %>
                  <div class="card-back-item">
                    <%= image_tag cocktail.picture, class: 'smaller-avatar-cocktail' %>
                    <div><%= cocktail.name %></div>
                  </div>
                  <% end %>
                </div>
              </div>
              <div class="card-footer">
                <div class="card-footer-flex">
                  <div class="card-footer-name">
                    <strong> <%= "#{bartender.name}" %></strong>
                  </div>

                  <div class="card-footer-reviews">
                    <i class="fa fa-comment blacker"></i><%= bartender.reviews.count %>
                  </div>
                </div>
                <div class="card-footer-rating">
                  <% bartender.rating.times do %>
                  <i class="fa fa-glass golder" aria-hidden="true"></i>
                  <% end %>
                  <% (5 - bartender.rating).times do %>
                  <i class="fa fa-glass blacker" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


