<% languages = [] %>
<% @bartender.languages.split.map do |language|  %>
  <% Bartender::LANGUAGES[language] %>
<% end %>


<div class="container">
 <div class="wrapper-show">


  <div class="row">
    <div class="col-xs-4 profile-details">
      <%= image_tag @bartender.picture, class: 'avatar-largest', id: "cropped_avatar"%>
      <br><br>
      <p>Rating:
        <% @bartender.rating.times do %>
        <i class="fa fa-glass" aria-hidden="true"></i>
        <% end %>
      </p>
      <h4 class= ""> Location: <%= @bartender.location %> </h4>
      <p class= ""> Languages: </p>

      <%# This is how you would add the flags, after adding the image files to assets %>
      <% @bartender.languages.split.each do |language| %>
        <%#= image_tag "#{language}.png" %>
      <% end %>

      <%# if you remove the following line, don't forget to remove lines 1 to 4 of this file, where language array is created %>
      <p> <%= languages.join(', ') %> </p>

    </div>

    <div class="col-xs-4 profile-basics">
      <h2 class= ""> <%= @bartender.name %> </h2>
      <h4 class= ""> <%= @bartender.title %> </h4>
      <p class= ""> <%= @bartender.bio %> </p>
      <br>
      <br>

    </div>
    <div class="col-xs-4 booking-basics">
      <h2 class= ""> Book Your Bartender</h2>
      <%= render 'bartenders/show/form' %>
    </div>

  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="specialities text-center">
      <div class= "header">
        <h1> My Specialities</h1>
      </div>
      <br><br><br>
      <div class= "content">
        <% @bartender.cocktails.each do |cocktail|  %>
          <div>
            <%= cocktail.name %>
            <%= image_tag cocktail.picture, class: 'avatar-largest' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="reviews text-center">



    <% unless @bartender.reviews.map(&:content).all?(&:nil?)  %>

      <h3>Reviews:</h3>
      <ul class="no-bullets">
        <% @bartender.reviews.each do |review| %>
        <li>
          <% unless review.rating.nil? %>
          <ul class="list-inline no-bullets">
            <% review.rating.times do %>
            <li> <i class="fa fa-glass golder" aria-hidden=true> </i></li>
            <% end %>
            <% (5 - review.rating).times do %>
            <li> <i class="fa fa-glass blacker" aria-hidden=true> </i></li>
            <% end %>
          </ul>
        </li>
        <li> <%= review.content %> </li>
        <br><hr><br>
        <% end %>
        <% end %>
      </ul>
      <% end %>

      <br><br>
      <div class="row">
        <div class="reviews text-center">
          <%= render 'reviews/new' %>
        </div>
      </div>




</div>
</div>


<script>
  $("input.datepicker").each(function(input) {
    $(this).datepicker({
      dateFormat: "yy-mm-dd",
      altField: $(this).next()
    })

    // If you use i18n-js you can set the locale like that
    $(this).datepicker("option", $.datepicker.regional[I18n.currentLocale()]);
  })

  $(document).on("page:load ready", function(){
    $("input.datepicker").datepicker();
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    document.getElementById('party_date').placeholder = "Date";
  })
</script>
