<% languages = [] %>
<% 1.upto(5) do |i|  %>
  <% languages << @bartender.read_attribute("language_#{i}") if @bartender.read_attribute("language_#{i}") %>
<% end %>




<div class="wrapper-show">
  <div class="container">

    <br><br><br><br>

    <div class="row">
      <div class="col-xs-4 profile-details">
        <%= image_tag 'http://placehold.it/400x400', class: 'avatar-largest' %>
        <br><br>
        <p>Rating:
          <% @bartender.rating.times do %>
          <i class="fa fa-glass" aria-hidden="true"></i>
          <% end %>
        </p>
        <h4 class= ""> Location: <%= @bartender.location %> </h4>
        <p class= ""> Languages: </p>
        <br>
        <p> <%= languages.join(', ') %> </p>
      </div>

      <div class="col-xs-4 profile-basics">
        <h2 class= ""> <%= @bartender.name %> </h2>
        <h4 class= ""> <%= @bartender.title %> </h4>
        <p class= ""> <%= @bartender.bio %> </p>
      </div>

      <div class="col-xs-4 form-show">
        <h2 class= ""> <%= @bartender.name %> </h2>
        <h4 class= ""> <%= @bartender.title %> </h4>
        <p class= ""> <%= @bartender.bio %> </p>
      </div>

    </div>

    <br>
    <br>
    <br>

    <div class="row">
      <div class="specialities text-center">
        <div class= "header">
          <h1> Check out my favorites</h1>
        </div>
        <br><br><br>
        <div class= "content">
          <% 1.upto(3) do |i|  %>
            <%= image_tag @bartender.read_attribute("speciality_#{i}"), class: 'avatar-largest' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
