<% languages = [] %>
<% 1.upto(5) do |i|  %>
  <% languages << @bartender.read_attribute("language_#{i}") if @bartender.read_attribute("language_#{i}") %>
<% end %>




<div class="container">
 <div class="wrapper-show">


  <div class="row">
    <div class="col-xs-4 profile-details">
      <%= image_tag @bartender.picture, class: 'avatar-largest', id: "cropped_avatar"%>
      <br><br>
      <p>Rating:
        <% @bartender.rating.times do %>
        <i class="fa fa-glass" aria-hidden="true"></i>
        <% end %>
      </p>
      <h4 class= ""> Location: <%= @bartender.location %> </h4>
      <p class= ""> Languages: </p>
      <p> <%= languages.join(', ') %> </p>
    </div>

    <div class="col-xs-4 profile-basics">
      <h2 class= ""> <%= @bartender.name %> </h2>
      <h4 class= ""> <%= @bartender.title %> </h4>
      <p class= ""> <%= @bartender.bio %> </p>
      <br>
      <br>

    </div>
    <div class="col-xs-4 booking-basics">
      <h2 class= ""> yo yo</h2>
      <div class="btn button-add-event">Add To My Event</div>
      <div class="btn button-message">Send a Message</div>
      <div class="btn button-favorites">Add to Favorites</div>
      <br>

      <%= link_to new_user_session_path do %>
       <div class="btn button-home"> BOOK ME! </div>
      <% end %>
    </div>

  </div>

  <br>
  <br>
  <br>

  <div class="row">
    <div class="specialities text-center">
      <div class= "header">
        <h1> Check out my favorites</h1>
      </div>
      <br><br><br>
      <div class= "content">
        <% 1.upto(3) do |i|  %>
          <%= image_tag @bartender.read_attribute("speciality_#{i}"), class: 'avatar-largest' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="reviews text-center">
      <h3>Reviews:</h3>
      <ul class="no-bullets">
    <% @bartender.reviews.each do |review| %>
      <li>
      <% unless review.rating.nil? %>
        <ul class="list-inline no-bullets">
          <% review.rating.times do %>
            <li> <i class="fa fa-glass golder" aria-hidden=true> </i></li>
          <% end %>
          <% (5 - review.rating).times do %>
            <li> <i class="fa fa-glass blacker" aria-hidden=true> </i></li>
          <% end %>
        </ul>
      </li>
      <li> <%= review.content %> </li>
      <br><hr><br>
      <% end %>
    <% end %>
  </ul>
</p>


<div class="row">
    <div class="reviews text-center">
    <%= render 'reviews/new' %>
  </div>
</div>

</div>
 </div>



</div>
</div>

