<%= simple_form_for [@bartender, @party], url: bartender_parties_path, html: { id: 'home-form-show' } do |f| %>
  <% #Details about the user %>
  <div class="col-xs-12 col-md-4">
    <h4>1. About you</h4>
    <%= f.simple_fields_for :user do |u| %>
      <%= u.input :first_name, label: false, placeholder: 'Daniel', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
     <%= u.input :last_name, label: false, placeholder: 'Huertas', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
     <%= u.input :email, label: false, disabled: true,  wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
     <%= u.input :phone_number, label: false, placeholder: '+49.123.456.789', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
    <% end %>

   <% #Details about the party  %>
    <h4>2. About your party</h4>
    <%= f.input :start_time, label: "What time is your party?", placeholder: '21:00', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>


    <%= f.input :address %>
    <%= f.input :zip_code %>
    <%= f.input :city %>
    <%= f.input :country, priority: [ 'DE' ] %>

    <div class="hidden">
      <%= f.input :theme, collection: Party::TYPES, label: false, prompt: "Type of Party", input_html: { class: "input form-input-index" } %>
    </div>
    <%= f.input :date, :as => :hidden, label: false, placeholder: '21:00', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
    <%= f.input :size, collection: {"5 to 30 guests": "5-29", "30 to 60 guests": "30-59", "60 to 90 guests": "60-90"}, prompt: "5-29", label: "How many people are coming?" %>

    <%= f.input :message, placeholder: 'I want a special mojito!', label: "Say hello to your bartender and provide more details about your party!" %>

    <% #Insert Address auto-complete form here %>
    <div class="">
      <%= button_tag type: :submit, class: "btn-search" do %>
        Confirm and Pay
      <% end %>
    </div>
  </div>


  <div class="col-md-4 col-xs-offset-2 booking-summary">
    <%= image_tag('london2.jpg', style: "width: 100%;") %>
    <div class="bartender-name">
    Your bartender: <%= @party.bartender.name %>
    </div>
    <div class="bartender-title">
    <%= @party.bartender.title %>
    </div>
    <div class="bartender-location">
    <%= @party.bartender.location %>
    </div>
    <div class="bartender-rating">
       <% @bartender.rating.times do %>
          <i class="fa fa-glass golder" aria-hidden="true"></i>
        <% end %>
        <% (5 - @bartender.rating).times do %>
          <i class="fa fa-glass blacker" aria-hidden="true"></i>
        <% end %>
    </div>
    <hr class="booking-line">
    <div class="cocktails">
      <div class="content">
        <% @bartender.cocktails.each do |cocktail|  %>
          <div class="specialities-item">
            <%= image_tag cocktail.picture, class: 'small-avatar-cocktail' %>
          </div>
        <% end %>
      </div>
    </div>


    <hr class="booking-line">

    <div class="party-date">
    <%= pretty_date(@party.date) %> - <%= @party.theme %>
    </div>

    <hr class="booking-line">
    <div class="booking-billing">
      <table class="billing">
        <t class="body">
          <tr class="price-item">
              <td class="bartender-service">
                Bartender service:
              </td>
              <td><span></span></td>
              <td class="price">
                50€
              </td>
            </tr>
            <tr class="welcome-cocktails">
              <td class="details">
             <i>Includes 5 free welcome cocktails of your choice.</i>
              </td>
            </tr>
            <tr>
              <td class="moreinfo">
             Cocktails will be sold at 5€ during the event.
            </td>
            </tr>
        </t>

      </table>
    </div>


  </div>



<% end %>



    <script type="text/javascript">
     $(document).ready(function() {
  var flat_address = $('#party_address').get(0);
  if (flat_address) {
    var autocomplete = new google.maps.places.Autocomplete(flat_address, { types: ['geocode'] });
    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
    google.maps.event.addDomListener(flat_address, 'click', function(e) {
      if (e.keyCode == 13) {
        e.preventDefault(); // Do not submit the form on Enter.
      }
    });
  }
});

function onPlaceChanged() {
  var place = this.getPlace();
  var components = getAddressComponents(place);

  $('#party_address').trigger('blur').val(components.address);
  $('#party_zip_code').val(components.zip_code);
  $('#party_city').val(components.city);
  if (components.country_code) {
    $('#party_country').val(components.country_code);
  }
}

function getAddressComponents(place) {
  // If you want lat/lng, you can look at:
  // - place.geometry.location.lat()
  // - place.geometry.location.lng()

  var street_number = null;
  var route = null;
  var zip_code = null;
  var city = null;
  var country_code = null;
  for (var i in place.address_components) {
    var component = place.address_components[i];
    for (var j in component.types) {
      var type = component.types[j];
      if (type == 'street_number') {
        street_number = component.long_name;
      } else if (type == 'route') {
        route = component.long_name;
      } else if (type == 'postal_code') {
        zip_code = component.long_name;
      } else if (type == 'locality') {
        city = component.long_name;
      } else if (type == 'country') {
        country_code = component.short_name;
      }
    }
  }

  return {
    address: street_number == null ? route : (street_number + ' ' + route),
    zip_code: zip_code,
    city: city,
    country_code: country_code
  };
}

    </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
    $('.slider-form').slick({
      dots: true,
      arrows: true
    });
  });
</script> -->

