<%= simple_form_for [@bartender, @party], url: bartender_parties_path, html: { id: 'home-form-show' } do |f| %>

  <% #Details about the user %>
  <div class="col-xs-12 col-md-4">
    <h4>1. About you</h4>
    <%= f.simple_fields_for :user do |u| %>
      <%= u.input :first_name, label: false, placeholder: 'Daniel', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
     <%= u.input :last_name, label: false, placeholder: 'Huertas', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
     <%= u.input :email, label: false, disabled: true,  wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
     <%= u.input :phone_number, label: false, placeholder: '+49.123.456.789', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
    <% end %>



   <% #Details about the party  %>
    <h4>2. About your party</h4>
    <%= f.input :start_time, label: "What time is your party?", placeholder: '21:00', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>


    <%= f.input :size, collection: {"5 to 30 guests": "5-29", "30 to 60 guests": "30-59", "60 to 90 guests": "60-90"}, prompt: "5-29", label: "How many people are coming?" %>

    <%= f.input :message, placeholder: 'I want a special mojito!', label: "Say hello to your bartender and provide more details about your party!" %>

    <% #Insert Address auto-complete form here %>
    <div class="">
      <%= button_tag type: :submit, class: "btn-search" do %>
        Confirm and Pay
      <% end %>
    </div>
  </div>


  <% #Fixed form to display as a recap of the booking  %>
  <div class="col-center summary">
    <h4> All ready for your <%= @party.theme %> party on the <%= @party.date %> </h4>
    <p>
      <ul>
        <li>
          Picked bartender: <%= @party.bartender.name %>
        </li>
        <li>
          City: <%= @party.address%>
        </li>
        <li>
          Total: 50€. Includes 5 free welcome cocktails of your choice.
        </li>
        <li>
          Cocktails will be sold at your party for 5€.
        </li>
      </ul>
    </p>
  </div>
   <%= f.input :address, :as => :hidden, :input_html => { :value => @party.address } %>
    <%= f.input :date, :as => :hidden, label: false, placeholder: '21:00', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>
<% end %>




    <script type="text/javascript">
      function initialize() {

      var input = document.getElementById('party_address');
      var autocomplete = new google.maps.places.Autocomplete(input);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script type="text/javascript">
      $(document).ready(function(){
      $('.datepicker').datepicker();
      });
    </script>
