<%= simple_form_for [@bartender, @party], url: bartender_parties_path, html: { id: 'home-form-show' } do |f| %>

  <div class="col-md-6">
    <div class="slider-form">
        <div class="about-you">
          <h3>1. About you</h3>
          <%= f.simple_fields_for :user do |u| %>
            <%= u.input :first_name, label: false, placeholder: 'Name', wrapper_html: { class: '' }, input_html: { class: "about-you-block"} %>
           <%= u.input :last_name, label: false, placeholder: 'Surname', wrapper_html: { class: '' }, input_html: { class: "about-you-block"} %>
           <%= u.input :email, label: false, disabled: true,  wrapper_html: { class: '' }, input_html: { class: "about-you-block"} %>
           <%= u.input :phone_number, label: false, placeholder: 'Contact Number', wrapper_html: { class: '' }, input_html: { class: "about-you-block"} %>
          <% end %>
        </div>
        <div class="about-your-party">
          <h3>2. About your party</h3>
          <%= f.input :start_time, label: "What time is your party?", placeholder: '21:00', wrapper_html: { class: '' }, input_html: { class: "about-your-party-time"} %>


          <%= f.input :address, placeholder: 'Address', label: false, input_html: { class: "about-your-party-block"} %>
          <%= f.input :zip_code, placeholder: 'Zip code', label: false, input_html: { class: "about-your-party-block"}  %>
          <%= f.input :city, placeholder: 'City', label: false, input_html: { class: "about-your-party-block"}  %>
          <%= f.input :country, placeholder: 'Country', label: false, priority: [ 'DE' ], input_html: { class: "about-your-party-block"}  %>
          <%= f.input :address, :as => :hidden, :input_html => { :value => @party.address } %>
          <%= f.input :date, :as => :hidden, label: false, placeholder: '21:00', wrapper_html: { class: '' }, input_html: { class: "input form-input-index"} %>

          <%= f.input :theme, collection: Party::TYPES, as: :hidden, label: false, prompt: "Type of Party" %>

          <%= f.input :date, :as => :hidden, label: false, placeholder: '21:00'%>

          <%= f.input :size, collection: {"5 to 30 guests": "5-29", "30 to 60 guests": "30-59", "60 to 90 guests": "60-90"}, prompt: "How many people are coming?", label: false, input_html: { class: "about-your-party-block"} %>
         </div>
        <div class= "bartender-message">
        <%= f.input :message, placeholder: 'I want a special mojito!', label: "Say hello to your bartender and provide more details about your party!", input_html: { class: "bartender-message-block"} %>
        <% #Insert Address auto-complete form here %>
        <div class="text-center">
          <%= button_tag type: :submit, class: "btn-booking-confirm" do %>
            Confirm and Pay
          <% end %>
        </div>
        </div>
    </div>
  </div>


  <div class="col-md-4 col-xs-offset-2 booking-summary">
    <%= image_tag('london4.jpg', style: "width: 100%;") %>
    <h2 class="bold"> All ready for your <%= @party.theme %> party <br>  </h2>
    <hr class="booking-line">
    <h3> Date: <%= @party.date %></h3>
    <hr class="booking-line">
    <p>Bartender: <%= @party.bartender.name %></p>
    <p><%= @party.address %></p>
    <hr class="booking-line">
    <h3> Total: 50€.</h3>
    <p> <i>Cocktails will be sold at your party for 5€.</i></p>
  </div>
<% end %>



    <script type="text/javascript">
     $(document).ready(function() {
  var flat_address = $('#party_address').get(0);
  if (flat_address) {
    var autocomplete = new google.maps.places.Autocomplete(flat_address, { types: ['geocode'] });
    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
    google.maps.event.addDomListener(flat_address, 'keydown', function(e) {
      if (e.keyCode == 13) {
        e.preventDefault(); // Do not submit the form on Enter.
      }
    });
  }
});

function onPlaceChanged() {
  var place = this.getPlace();
  var components = getAddressComponents(place);

  $('#party_address').trigger('blur').val(components.address);
  $('#party_zip_code').val(components.zip_code);
  $('#party_city').val(components.city);
  if (components.country_code) {
    $('#party_country').val(components.country_code);
  }
}

function getAddressComponents(place) {
  // If you want lat/lng, you can look at:
  // - place.geometry.location.lat()
  // - place.geometry.location.lng()

  var street_number = null;
  var route = null;
  var zip_code = null;
  var city = null;
  var country_code = null;
  for (var i in place.address_components) {
    var component = place.address_components[i];
    for (var j in component.types) {
      var type = component.types[j];
      if (type == 'street_number') {
        street_number = component.long_name;
      } else if (type == 'route') {
        route = component.long_name;
      } else if (type == 'postal_code') {
        zip_code = component.long_name;
      } else if (type == 'locality') {
        city = component.long_name;
      } else if (type == 'country') {
        country_code = component.short_name;
      }
    }
  }

  return {
    address: street_number == null ? route : (street_number + ' ' + route),
    zip_code: zip_code,
    city: city,
    country_code: country_code
  };
}

    </script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
    $('.slider-form').slick({
      dots: true,
      arrows: true
    });
  });
</script>


