<% content_for :title, "Payment confirmed - Booking number #{@party.bartender_id}#{@party.id}#{@party.user_id}" %>

<div class="wrapper-status-bar">
  <div class="container">
    <div class="row">
      <div class="status-bar">
        <div class="text-center status-bar-item <%= 'status-bar-item-active' if @party.pending_bartender_confirmation? %>">
          <%= image_tag "counterclockwise-rotation.png", size: "40x40" %>
          <p>Confirmation Pending</p>
        </div>
        <div class="text-center status-bar-item <%= 'status-bar-item-active' if @party.bartender_confirmed? %>">
          <%= image_tag "bart1.jpg", size: "40x40" %>
          <p>Party Confirmed</p>
        </div>
        <div class="text-center status-bar-item">
          <%= image_tag "cocktail2.png", size: "40x40" %>
          <p>Get your party started!</p>
        </div>
        <div class="text-center status-bar-item">
          <%= image_tag "check_1.png", size: "40x40" %>
          <p>Rate your Bartender</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-party-show-body">

  <div id="pending-bartender-confirmation" class="<%= 'hidden' unless @party.pending_bartender_confirmation? %>">
    <div class="pending-container">
      <div class="pending-card">

        <div class="banner-pending" style="background-image: linear-gradient(-225deg, rgba(85,85,85,0.9) 20%, rgba(60,60,60,0.8) 47%), url(<%= image_path 'ba.jpg' %>); ">
          <h2> Thanks for booking your <%= @party.theme %>! </h2>
          <p><i>Your booking number is: #<%= @party.bartender_id  %><%= @party.id %><%= @party.user_id%></i></p>
          <h4> We have sent your request to <i><%= @party.bartender.name %></i></h4>
          <h4>You will receive a response within the next <strong>24hr!</strong></h4>
        </div>
        <div class="pending-footer">
          <h2>The moment before memories are made</h2>
        </div>
      </div>
    </div>
  </div>

  <div id="bartender-confirmed" class="<%= 'hidden' unless @party.bartender_confirmed? %>">
    <div class="confirm-container">
      <div class="confirm-card">
        <div class="row">
            <div class="banner-book" style="background-image: linear-gradient(-225deg, rgba(85,85,85,0.9) 20%, rgba(60,60,60,0.8) 47%), url(<%= image_path 'pending1.jpg' %>); ">

              <h2> Congratulations! <br><%= @party.bartender.name %> has accepted your request</h2>

              <!-- <div class="background-div">
              <div class="text-center">
                <%= image_tag @party.bartender.picture, id:"bt-party-show"%>
                <h2><%= @party.bartender.name %></h2>
              </div>
              </div> -->
              <h4><span><%= @party.bartender.name %> will be at <i> <%= pretty_address(@party.address) %></i> at <i><%= pretty_time(@party.start_time) %></i></span></h4>
              <!-- <h3>In <%= @party.city %></h3> -->
              <h4>On <strong><%= @party.date.to_s(:long) %></strong> </h4>
              <h4>For your <%= (@party.theme).downcase %> with <%= @party.size %> guests! </h4>
            </div>
            <div class="confirm-footer">
              <h2>Let's get the party started</h2>
          </div>
        </div>
      </div>
      <br>
      <br>

      <%= link_to '#'  do %>
      <div class="add-friends-button text-center">
        <h5><i class="fa fa-facebook-square" aria-hidden="true"></i> INVITE YOUR FRIENDS ON FACEBOOK!</h5>
      </div>
      <% end %>
    </div>

  </div>

  <div id="party-started" class="hidden">
    <% # TBD %>
  </div>

  <div id="party-finished" class="hidden">
    <% # TBD %>
  </div>

</div>

<script src="https://js.pusher.com/4.0/pusher.min.js"></script>

<script>
  function changeActiveTabTo(i) {
    $('.status-bar-item').removeClass('status-bar-item-active');
    $('.status-bar-item').eq(i).addClass('status-bar-item-active');

    $('.wrapper-party-show-body').children().addClass('hidden');
    $('.wrapper-party-show-body').children().eq(i).removeClass('hidden');
  }

  $(document).ready(function() {
    <% if @party.pending_bartender_confirmation? %>
      changeActiveTabTo(0);
    <% elsif @party.bartender_confirmed? %>
      changeActiveTabTo(1);
    <% elsif true # We will add some logic later %>
      changeActiveTabTo(2);
    <% elsif true # We will add some logic later %>
      changeActiveTabTo(3);
    <% end %>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher("<%= j ENV['PUSHER_KEY'] %>", {
      cluster: 'eu',
      encrypted: true
    });

    var channel = pusher.subscribe('bartender-confirmation-channel');
    channel.bind('bartender-confirm', function(data) {
      if(data.message === 'confirmed') {
        changeActiveTabTo(1);
        <% @party.pending_bartender_confirmation = false %>
      }
    });
  });
</script>



