<%= simple_form_for [@bartender, @party], html: { id: 'home-form' } do |f| %>
  <%= f.input :address, label: false, placeholder: 'Location', wrapper_html: { class: '' }, input_html: { class: "input form-input-index" } %>

  <div class="">
    <%= f.input :date, as: :datepicker, label: false %>
  </div>

  <div class="">
    <%= button_tag type: :submit, class: "btn-search" do %>
      Book
    <% end %>
  </div>

  <div class="hidden">
    <%= f.input :theme, collection: Party::TYPES, label: false, prompt: "Type of Party", input_html: { class: "input form-input-index" } %>
  </div>

  <div class="hidden">
    <%= f.input :size, collection: ['5-29', '30-59', '60-90'], label: false, prompt: 0, input_html: { class: "input form-input-index" } %>
  </div>



<% end %>
