<footer class="footer-basic-centered">

  <div class="wrapper-logo-footer">
    <%= image_tag("newlogo_checkout_new.png", class: "logo-footer") %>
  </div>

  <p class="footer-links">
    <a href="#">Terms and Conditions</a>
    路
    <a href="#">Social Responsibility</a>
    路
    <a href="#">Privacy Policy</a>
    路
    <a href="#">Drink Responsibly</a>
    路
    <a href="#">Contact</a>
  </p>

  <ul class="list-inline contact-links">
    <li><a href=""><i class="fa fa-facebook-square contact"></i></a></li>
    <li><a href=""><i class="fa fa-twitter contact"></i></a></li>
    <li><a href=""><i class="fa fa-youtube-play contact"></i></a></li>
    <li><a href=""><i class="fa fa-instagram contact"></i></a></li>
  </ul>


  <div class= "copyright-notice">
    <p class="copyright-notice-text">SUPER BARMAN &copy; 2017  </p>
    <div class="payment-options">
    <ul class="list-inline">
      <li><%= image_tag("MasterCard.png", class: "footer-payment") %></li>
      <li><%= image_tag("Visa.png", class: "footer-payment") %></li>
      <li><%= image_tag("AmericanExpress.png", class: "footer-payment") %></li>
      <li><%= image_tag("PayPal.png", class: "footer-payment") %></li>
    </ul>
    </div>
  </div>
</footer>

