<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_url 'banner.jpg' %>);">

  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <div class="banner-content" class="text-center">
        <h1>A BARTENDER FOR YOUR PARTY. <br> FOR 50€.</h1>
        <p>Serve the best cocktails at your event by hiring one of our top local bartenders</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="how-it-works" class="text-center">
  <a name="how-it-works"></a>
  <div class="container">
    <div class="row">
          <h2>How It Works</h2>
        <div class="col-xs-12 col-sm-6 col-md-4  text-center">
          <%= image_tag src="bar-pin.png", size: "60x60" %>
          <h4>Tell us where and when</h4>
          <p>Hire a top rated bartender fully equipped with his own drinks and ready to make your event unique. </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4  text-center">
          <%= image_tag src="bart1.jpg", size: "60x60" %>
          <h4>Bring The Bar To You</h4>
          <p> Delight your guests with fresh, home-made drinks sold at fixed-rates.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4  text-center">
        <%= image_tag src="cocktail2.png", size: "60x60" %>
        <h4>Enjoy!</h4>
        <p> Because that's what parties are for.</p>
       </div>
    </div>
  </div>
</div>

<div> <hr class="home-line">  </div>

<div class="container">
  <div class="video-home text-center">
    <h2>Meet Alex </h2>

    <div class="row">
      <div class="col-xs-12 col-sm-6 card-wrapper">
          <div class="card" id='bartender-profile-home'>
            <%= image_tag 'upper_frame.png', class: 'upper_frame' %>
            <div class="card-description">
              <p class="alex-bio"> <i> "After being bartending in the Caribbean, I'm back in Berlin ready to make your Island Paradise come to life. <br> My specialities: Bahama Mama's, Aruba Ariba and Ting with a Sting!" </i> </p>
            </div>
            <%= image_tag "bar-home-avatar.jpg", class: "card-category avatar-larger grayscale" %>
            <%= image_tag 'lower_frame.png', class: 'lower_frame' %>
          </div>

      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card" id='iframe-card' >
          <iframe src="https://www.youtube.com/embed/pxbAAnWlDhc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>






